<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyJSON OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyJSON iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AC4EC711BA58D4F007E7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC4EC7B1BA58D50007E7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC4EC901BA58EA4007E7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC4EC991BA58EA4007E7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
